{% extends 'layouts/base.html' %}
{% block content %}
<div style="display: flex;justify-content: center;" class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                {% if book.image %}
                    <img style="height: 200px;width: 400px;" class="h-48 w-48 object-cover md:w-48" src="{{ book.image.url }}" alt="{{ book.title }}">
                {% else %}
                    <div class="h-48 w-full md:w-48 bg-gray-200 flex items-center justify-center">
                        <span class="text-gray-500">No image available</span>
                    </div>
                {% endif %}
            </div>
            <div class="p-8">
                <h1 class="text-3xl font-bold mb-4">{{ book.title }}</h1>
                <p class="text-xl text-gray-600 mb-2">Author By {{ book.author }}</p>
                <p class="text-gray-600 mb-2">Published at : {{ book.publication_date }}</p>
                <p class="text-gray-600 mb-4">in stook copys: ( {{ book.available_quantity }} )</p>
                
                {% if user.is_authenticated %}
                    {% if book.available_quantity > 0 %}

                        <a href="{% url 'books:books.borrow' book.pk %}" style="
    display: inline-block;
    background-color: #4d8e46; 
    color: white; 
    font-weight: bold; 
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none; 
    transition: all 0.3s ease;
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    margin-bottom: 20px;
    margin-left: 5px;
" 

onmouseover="this.style.backgroundColor='#1d72b8'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.2)';"
onmouseout="this.style.backgroundColor='#3490dc'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.1)';">
Borrow Book
</a>


                    {% else %}
                        <button style="
                        display: inline-block;
    background-color: #b5b5c2;
    color: #111;
    font-weight: bold;
    padding: 4px 4px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 5px;"
                        class= "bg-gray-500 text-white font-bold py-2 px-4 rounded mr-2" disabled>Out of stock</button>
                    {% endif %}
                {% endif %}
                
                {% if user.is_staff %}
                    <a href="{% url 'books:books.update' book.pk %}" style="
    display: inline-block;
    background-color: #4d8e46; 
    color: white; 
    font-weight: bold; 
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none; 
    transition: all 0.3s ease;
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    margin-bottom: 20px;
    margin-left: 5px;
" 

onmouseover="this.style.backgroundColor='#1d72b8'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.2)';"
onmouseout="this.style.backgroundColor='#3490dc'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.1)';">
    Edit
</a>

<a href="{% url 'books:books.delete' book.pk %}" style="
display: inline-block;
background-color: red; 
color: white; 
margin-left: 10px;
font-weight: bold; 
padding: 12px 24px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-decoration: none; 
transition: all 0.3s ease;
text-align: center; 
font-size: 16px; 
cursor: pointer; 
margin-bottom: 20px;
" 

onmouseover="this.style.backgroundColor='#1d72b8'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.2)';"
onmouseout="this.style.backgroundColor='#3490dc'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.1)';">
Delete
</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}